<div class="modal fade" id="meeting-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered p-2 my-0 mx-auto" style="max-width: 950px;">
    <div class="modal-content">
      <div class="modal-body px-0 py-2 py-sm-0">
        <button class="btn-close position-absolute top-0 end-0 mt-3 me-3" type="button" data-bs-dismiss="modal"></button>
        <div class="mx-0 align-items-center">
          
          <div class="px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
            



            <%= form_for(@meeting, as: :meeting, url: meetings_path(@meeting), html: { method: :post, remote: true }) do |f| %>
            <form class="needs-validation" novalidate>
              <div class="mb-4">
                <label class="form-label mb-2" for="signin-email">Name</label>
                <%= f.text_field :title, value: @meeting.title, class: "form-control" %>
              </div>
              <div class="row">
                <div class="col-lg-6 mb-4">
                  <label class="form-label mb-2" for="signin-email">Time</label>
                  <%= f.datetime_field :time, autocomplete: "time", placeholder: "please select your time", class: "form-control" %>
                </div>
                <div class="col-lg-6 mb-4">
                  <label class="form-label mb-2" for="signin-email">Duration</label>
                  <%= f.select :duration, Meeting::DURATIONS, { include_blank: 'Select a duration', disabled: false}, class: "form-control" %>
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2" for="signin-email">Purpose</label>
                <%= f.text_field :purpose, value: @meeting.purpose, class: "form-control" %>
              </div>
              <div class="mb-4">
                <label class="form-label mb-2" for="signin-email">Description</label>
                <%= f.text_area :description, value: @meeting.description, class: "form-control", rows: "4" %>
              </div>
              <%= f.hidden_field :teacher_id, value: params[:teacher_id] %>
              <%= f.hidden_field :student_id, value: params[:student_id] %>
              

              <%= f.submit "Call Request", class: "btn btn-primary btn-lg rounded-pill w-100" %>
            </form>
            <% end %>







          </div>
        </div>
      </div>
    </div>
  </div>
</div>