<%= form_tag("/hires", method: "post", id: "payment-form") do %>
        <section>
          <label for="grade">
            <span class="input-label">Grade</span>
            <div class="input-wrapper amount-wrapper">
              <input  name="grade" type="text" placeholder="A" required>
            </div>
          </label>
          <br>

          <label for="subject">
            <span class="input-label">Subject</span>
            <div class="input-wrapper amount-wrapper">
              <input name="subject" type="text" placeholder="Math" required>
            </div>
          </label>
          <br>


          <div>
            <label><input type="radio" name="price-check" value="teacher" class="input-label" checked>Teacher Price</label>
            <label><input type="radio" name="price-check" value="offer"class="input-label" >Offer</label>
          </div>

          <label for="amount" id="teacher">
          <span class="input-label">Price per Sesssion</span>
            <div class="input-wrapper amount-wrapper">
              <input type="number" name="price" type="tel" min="1" value = "<%= User.find_by(id: params[:teacher_id]).price.present? ? User.find_by(id: params[:teacher_id]).price : 20 %>" readonly>
            </div>
          </label>

          <label for="amount" id="offer">
            <span class="input-label">Price per Sesssion</span>
            <div class="input-wrapper amount-wrapper">
              <input type="number" name="price" type="tel" min="1" required>
            </div>
          </label>
          <br>

          <label for="amount">
            <span class="input-label">Sesssions per Week</span>
            <div class="input-wrapper amount-wrapper">
              <input type="number" name="number_of_session" type="tel" min="1" required>
            </div>
          </label>
          <br>

          <label for="amount">
            <span class="input-label">No of Weeks</span>
            <div class="input-wrapper amount-wrapper">
              <input type="number" name="duration" type="tel" min="1" required>
            </div>
          </label>
          <br>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>
        <input type="hidden" name="hire_to_id" value= <%= params[:teacher_id]%> />
        <input type="hidden" name="hire_by_id" value=<%= params[:student_id]%> />
        <input type="hidden" id="nonce" name="nonce_id" />
        <button class="button" type="submit"><span>Make Payment</span></button>
      <% end %>

    </div>
  </div>
</div>

<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= Braintree::ClientToken.generate %>";

  dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
          flow: 'checkout',
          amount: '10.00',
          currency: 'USD'
        }
    }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });

$(document).ready(function(){

  function show_hide(radio)
  {
    if($(radio).attr("value") == 'teacher')
        {
          $("#teacher").show();
          $("#teacher :input").attr('disabled', false);
          $("#offer").hide();
          $("#offer :input").attr('disabled', true);
        }
    if($(radio).attr("value") == 'offer')
      {
        $("#teacher").hide();
        $("#teacher :input").attr('disabled', true);
        $("#offer").show();
        $("#offer :input").attr('disabled', false);
      }
  }

  show_hide(document.querySelector('input[type="radio"]'));

  $('input[type="radio"]').click(function(){
    show_hide(this);
  });
});
</script>
