<%= form_tag("/hires", method: "post", id: "payment-form") do %>
        <section>
          <label for="grade">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
            </div>
          </label>
          <label for="grade">
            <span class="input-label">Grade</span>
            <div class="input-wrapper amount-wrapper">
              <input  name="grade" type="text" placeholder="A">
            </div>
          </label>
          <label for="subject">
            <span class="input-label">Subject</span>
            <div class="input-wrapper amount-wrapper">
              <input name="subject" type="text" placeholder="Math">
            </div>
          </label>

          <label for="amount">
            <span class="input-label">Price per Sesssion</span>
            <div class="input-wrapper amount-wrapper">
              <input name="amount" type="tel" min="1" placeholder="Amount" value="10">
            </div>
          </label>

          <label for="amount">
            <span class="input-label">Duration</span>
            <div class="input-wrapper amount-wrapper">
              <select name="duration"><% Hire::DURATIONS.each do |option|%>
                 <option value=<%= option%>><%= option%></option>
              <% end %>
              </select>
            </div>
          </label>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>
        <input type="hidden" name="hire_to_id" value= <%= params[:teacher_id]%> />
        <input type="hidden" name="hire_by_id" value=<%= params[:student_id]%> />
        <input type="hidden" id="nonce" name="braintree_payment_id" />
        <button class="button" type="submit"><span>Test Transaction</span></button>
      <% end %>

    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.32.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= Braintree::ClientToken.generate %>";

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
          flow: 'checkout',
          amount: '10.00',
          currency: 'USD'
        }
    }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
