<div class="table-responsive">
  <h2>Hire table</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Grade</th>
        <th>Subject</th>
        <th>Price/Sesssion</th>
        <th>Sesssion/week</th>
        <th>Duration</th>
        <th>Total Payment</th>
        <th>With</th>
        <th>Status</th>
        <th rowspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% hires.each do |hire| %>
        <%= content_tag :tr, id: dom_id(hire), class: dom_class(hire) do %>
          <td><%= hire.grade %></td>
          <td><%= hire.subject %></td>
          <td><%= hire.price %>$</td>
          <td><%= hire.number_of_session %></td>
          <td><%= hire.duration %> weeks</td>
          <td><%= hire.total_price %>$</td>


        <% if current_user.is_student? %>
          <td><%= link_to hire.hire_to.name, user_path(hire.hire_to)  %></td>
        <%else%>
          <td><%= link_to hire.hire_by.name, user_path(hire.hire_by) %></td>
        <%end%>

          
          
          <td><%= link_to hire.status, hire_path(hire) %></td>
          <td><% if current_user.is_teacher? && current_user == hire.hire_to && hire.status == "requested" %>
                <%= link_to 'Accept', hire_path(hire.id, { status: "processing"  }),
                                            method: :patch %>
                <%= link_to 'Reject', hire_path(hire.id, { status: "reject" }),
                                            method: :patch,
                                            data: { confirm: "Are you sure to Reject?" }%>
              <% elsif current_user.is_student? && current_user == hire.hire_by && hire.status == "processing" %>
                <%= link_to 'Proceed Payment', hire_path(hire.id, { status: "hired"  }),
                                            method: :patch %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>