<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/newhead' %>
  </head>

  <body>
    <%= render 'shared/newnavbar' %>
    <%= render 'shared/notices' %>

    <%= yield %>

    <%= render 'shared/newfooter' %>
  </body>
  <script>
    $(".notice-alert").delay(5000).slideUp(200, function() {
        $(this).alert('close');
    });
    $('body').on('click', '.close_alert', function(){
        $(".alerts").slideUp(100); 
    })
    $('body').on('click', '.close', function () {
        $(this).parents('.modal').modal('hide')
    });
  </script>
</html>
